html {
  background-color: #5964f2;
  color: aliceblue;
  height: 100%;
  overflow: hidden; /*elimina la barra de desplazamiento*/
}
body {
  height: 100%;
  width: 100%;
  font-family: "Work Sans", sans-serif;
}
/*Textos*/
.principal {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.contenedor {
  background-color: #333439;
  display: flex;
  padding: 40px; /*separacion del borde y el contenido*/
  border-radius: 10px;
  flex-direction: column; /*Para que aparezca de forma vertical*/
  width: 350px;
  height: auto;
}
.inicio {
  width: 100%;
  height: 100%;
  margin: 0;
}
/*Textos*/
p {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 6px;
}
.bienvenida {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
.saludo {
  font-size: 22px;
  margin: 0;
  font-weight: 700;
}
.alegria {
  font-size: 14px;
  margin-top: 8px;
  color: #cecfd1;
}
.sugerencia {
  font-size: 12px;
  color: #5865f2;
}
input {
  background-color: #1e1f24;
  border: 0;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  margin-top: 0px;
  color: white;
}
.registro {
  background-color: #5865f2;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  color: white;
  border: 0;
  border-radius: 5px;
}
