html {
  background-color: #5964f2;
  color: aliceblue;
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
}
/*Textos*/

.bienvenida {
  text-align: center;
}
.principal {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.contenedor {
  height: 50%;
  width: 50%;
  background-color: #333439;
  padding: 10%;
}
input {
  background-color: #1e1f24;
  border: 0;
  height: 40px;
  width: 100%;
}
.registro {
  background-color: #414df1;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  color: white;
  border: 0;
}
